// User
// --------------------------------------------------

.user {
  position: relative;
}
// Fields
// --------------------------------------------------

// Field groups
// --------------------------------------------------

// View modes
// --------------------------------------------------

// List

.user--list {
  margin-bottom: $default-block-margin-bottom;
}
// Search result

.user--search-result {
  margin-bottom: $default-block-margin-bottom;
}
// Teaser

.user--teaser {
  margin-bottom: $default-block-margin-bottom;
}
// Full

.user--full {
  margin-bottom: $default-block-margin-bottom;
}
